<header>
<nav class="navbar navbar-expand-xl">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="include/images/logo.svg" alt="" /></a>
        <div class="header-right d-xl-none d-block">
           <a href="#" class="hero-btn">Contact</a>
        </div>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample06">
          <div class="navbar-inside d-flex ml-auto">
            <ul class="navbar-nav">
              <li class="nav-item active"><a class="nav-link" href="#">WHAT WE DO</a></li>
              <li class="nav-item"><a class="nav-link" href="#">HOW IT WORKS</a></li>
              <li class="nav-item"><a class="nav-link" href="#">GOLF</a></li> 
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">LEISURE</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown06">
                  <li><a class="dropdown-item" href="#">Open Spaces</a></li>
                  <li><a class="dropdown-item" href="#">Woodland Walks</a></li>
                  <li><a class="dropdown-item" href="#">Equestrian Centres</a></li>
                  <li><a class="dropdown-item" href="#">Bike Tracks</a></li>
                  <li><a class="dropdown-item" href="#">Tree Planting</a></li> 
                </ul>
              </li> 

              <li class="nav-item"><a class="nav-link" href="#">OUR WORK</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ABOUT US</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown06">
                  <li><a class="dropdown-item" href="#">Sustainability</a></li>
                  <li><a class="dropdown-item" href="#">Meet The Team</a></li>
                  <li><a class="dropdown-item" href="#">Affiliates</a></li>
                  <li><a class="dropdown-item" href="#">Values</a></li>
                  <li><a class="dropdown-item" href="#">News</a></li>
                  <li><a class="dropdown-item" href="#">Faqs</a></li>
                </ul>
              </li> 
            </ul>
          
            <a href="#" class="hero-btn d-xl-none d-block">Contact</a>
        </div>

        <div class="header-right d-xl-flex d-none">
             
            <a href="#" class="hero-btn">Contact</a>
        </div>
      </div>

    </div>                                   
</nav>
</header>