<h1>new product list</h1>
<!-- if collections.frontpage.products contains 4 products -->
{% for product in collections.frontpage.products %}
  {% if forloop.first %}
  <p>This collection has {{ forloop.length }} products:</p>
  {% endif %}
  <p>{{ product.title }}</p>
<img src="{{ product.featured_image.src | image_url: width: 240 }}" alt="{{ product.featured_image.alt }}" />
{% endfor %}